body
{
    background-color: #e63946;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.timer-content{

    width: 30%;
    margin:0 auto ;
}

.header-title{
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  
}

.timer-container
{
    background-color: rgba(255,255,255,0.1);
    padding: 15px;
    margin-top: 20px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.tab-list
{
    text-align: center;
}
.tab-item
{
    display: inline-block ;
    font-size: 15px;
    color: white;
    //background-color: black;
    padding: 5px;
}

.tab-item.active{
    background-color: black;
}
.tab-item-content
{
    display: none;
    text-align: center;
}

.tab-item-content.active
{
    display: block;
}
.time
{
    font-size: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-weight: bold;
}

button{
    padding: 10px,35px;
}